# ----------------------------------------
# Appointment Management System - Env Vars
# ----------------------------------------

# 1. Spring Cloud Configuration
SPRING_PROFILES_ACTIVE=docker
SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888

# 2. Service Discovery
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/

# 3. Persistent Databases
# For local Docker: mongodb://mongodb:27017/userdb
# For Cloud: mongodb+srv://<username>:<password>@cluster.mongodb.net/userdb
SPRING_MONGODB_URI=mongodb://mongodb:27017/userdb

# 4. Asynchronous Messaging (RabbitMQ)
# For local Docker: rabbitmq
# For Cloud: amqps://<username>:<password>@amqp.server.com/<vhost>
SPRING_RABBITMQ_HOST=rabbitmq
