server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/users/**
        - id: booking-service
          uri: http://localhost:8082
          predicates:
            - Path=/bookings/**
        - id: notification-service
          uri: http://localhost:8083
          predicates:
            - Path=/notifications/**
        - id: appointment-service
          uri: http://localhost:8084
          predicates:
            - Path=/appointments/**
